@import '../../styles/global.scss';

.modal-backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    position: fixed;
    top: 0;
    left: 0;
  
    height: 100vh;
    width: 100vw;
  
    :after {
        content: "";      
        background: rgba(0, 0, 0, 0.5);      
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;       
    }
}
   
  
.modal {
    background: #fff;
    margin: 32px 0;

    > .title {
        background: $primary;
        color: #ffffff;
        font-weight: bold;
        line-height: 2.5;
        font-size: 16px;
        padding: 16px 24px;
        text-transform: uppercase;
        

        > span {
            color: #cddc39;
        }
    }

    > .content {
        padding: 32px;
        text-align: center;
        > input {
            border: 1px solid #ccc;
            border-radius: 6px;
            font-size: 32px;
            height: 48px;
            padding: 0 8px;
        }
        > button {
            border: 1px solid #ccc;
            border-radius: 6px;
            font-size: 32px;
            height: 48px;
            padding: 0 8px;
            margin-top: 24px;
        }
        > .cards {
            > select {
                background: #fff;
                border: 1px solid #ccc;
                border-radius: 6px;
                font-size: 32px;
                height: 48px;
                margin-top: 12px;
            }
        }
    }
} 