<div class="header">
  <mat-toolbar color="primary">
    <span>BitPay</span>
    <div class="menu-list">
      <a mat-button routerLink="/dashboard">Dashboard</a>
      <a mat-button routerLink="/payments">Pagar</a>
    </div>
    <span class="menu-spacer"></span>
    <button mat-button>Saldo: {{ balance | currency: 'BRL':'symbol':'.2-2':'pt' }}</button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="icon" [inline]="true">account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Gerenciar conta</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications</mat-icon>
        <span>Notificações</span>
      </button>
      <button mat-menu-item>
        <mat-icon>power_settings_new</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</div>