// Theme Colors
$picpay-primary: #11c76f;

// Shades of Gray
$ice: #f9f9f9;
$bright: #f0f0f0;
$mercury: #e8e8e8;
$platinum: #e2e3e5;
$aluminum: #d6d6d6;
$moon: #b8b8b8;
$dusty-gray: #989898;
$silver: #595959;
$onyx: #353839;

// Secondary Colors
$failure: #FA3453;
