<div class="modal-backdrop" id="modal-payment">
    <div class="modal">
        <div class="header">
            <img src="../assets/images/close.svg" (click)="closeModal()" />
        </div>
        <form class="content" *ngIf="!status" [formGroup]="paymentForm" (ngSubmit)="sendPayment(user)">
            <img src="{{ user.img }}" />
            <p class="user-username">{{ user.username }}</p>
            <p class="title">Realizar pagamento para {{ user.name }}</p>
            <div class="money">
                <label>Valor:</label>
                <input currencyMask placeholder="R$ 0,00" formControlName="value" name="value" />
                <div class="error-container" *ngFor="let validation of validationMessages.value">
                    <div
                        *ngIf="
                            paymentForm.get('value').hasError(validation.type) &&
                            (paymentForm.get('value').dirty || paymentForm.get('value').touched)
                        "
                    >
                        <span>{{ validation.message }}</span>
                    </div>
                </div>
            </div>
            <div class="cards">
                <label>Selecione um cartão:</label>
                <select formControlName="card">
                    <option selected value="">Selecione</option>
                    <option *ngFor="let card of cards" [ngValue]="card">Cartão com final {{ card.final }}</option>
                </select>
                <div class="error-container" *ngFor="let validation of validationMessages.card">
                    <div
                        *ngIf="
                            paymentForm.get('card').hasError(validation.type) &&
                            (paymentForm.get('card').dirty || paymentForm.get('card').touched)
                        "
                    >
                        <span>{{ validation.message }}</span>
                    </div>
                </div>
            </div>
            <button type="submit" [disabled]="!paymentForm.valid">
                <app-spinner *ngIf="isSubmitted" diameter="20"></app-spinner> {{ isSubmitted ? 'Pagando' : 'Pagar' }}
            </button>
        </form>
        <div *ngIf="status" class="display-status">
            <div *ngIf="status === 'Aprovada'">
                <h1>Transação concluída com sucesso!</h1>
            </div>
            <div *ngIf="status !== 'Aprovada'">
                <h1>Infelizmente algo deu errado na sua transação, tente novamente mais tarde!</h1>
            </div>
            <button type="button" (click)="closeModal()">Tudo bem!</button>
        </div>
    </div>
</div>
