<div class="modal-backdrop" id="modal-payment">
    <div class="modal">
        <div class="title">
            Pagamento para <span>{{ user.name }}</span>
        </div>
        <form class="content"  [formGroup]="paymentForm" (ngSubmit)="sendPayment()">
            <input type="number" placeholder="R$ 0,00" formControlName="value" name="value" />

            <div class="cards">
                <select>
                    <option selected>Selecione um cartão</option>
                    <option *ngFor="let card of cards" value="{{ card.card_number }}">{{ card.card_number }}</option>
                </select>
            </div>
            <button type="submit" class="pay-button">Pagar</button>
        </form>
    </div>
</div>
