<div class="modal-backdrop" id="modal-payment">
    <div class="modal">
        <div class="header">
            <img src="../assets/images/close.svg" (click)="closeModal()" />
        </div>

        <form class="content" [formGroup]="paymentForm" (ngSubmit)="sendPayment()">
            <img src="{{ user.img }}" />
            <p class="user-username">{{ user.username }}</p>
            <p class="title">Realizar pagamento para {{ user.name }}</p>
            <input currencyMask placeholder="R$ 0,00" formControlName="value" name="value" />
            <div class="cards">
                <select>
                    <option selected>Selecione um cartão</option>
                    <option *ngFor="let card of cards" value="{{ card.card_number }}">{{ card.card_number }}</option>
                </select>
            </div>
            <button type="submit" class="pay-button">Pagar</button>
        </form>
    </div>
</div>
