<form class="form">
  <input ngModel name="value" required #valueControl="ngModel" class="form__input" type="number" />
  <div class="form__alert" *ngIf="valueControl.touched && !valueControl.valid">
    <p *ngIf="valueControl.errors.required">Você deve inserir um valor</p>
  </div>
  <div class="form__select-helper">
    <select ngModel name="card" class="form__select" id="">
      <option *ngFor="let card of cards" [value]="card.card_number">
        Cartão com final {{ card.card_number | card }}
      </option>
    </select>
  </div>
  <button class="form__button">Pagar</button>
</form>
