<form class="form" #paymentForm="ngForm" (ngSubmit)="handleSubmit(paymentForm)">
  <input type="number" [ngModel]="userId" name="userId" hidden />
  <input
    ngModel
    name="transferValue"
    required
    #valueControl="ngModel"
    class="form__input"
    currencyMask
    [options]="currencyMask"
    [ngClass]="{'form__input--error': valueControl.touched && !valueControl.valid}"
  />
  <div class="form__alert" *ngIf="valueControl.touched && !valueControl.valid">
    <p *ngIf="valueControl.errors.required">Você deve inserir um valor</p>
  </div>
  <div class="form__select-helper">
    <select name="selectedCard" [ngModel]="mainCard" class="form__select">
      <option
        *ngFor="let card of cards; first as isFirst"
        [ngValue]="card.card_number | card"
        [attr.selected]="isFirst ? 'selected' : null"
      >
        Cartão com final {{ card.card_number | card }}
      </option>
    </select>
  </div>
  <button class="form__button">Pagar</button>
</form>
