.info {
    margin-right: 45px;

    &__item {
        width: 100%;
        max-width: 500px;
    }

    &__content {
        display: flex;

        height: 140px;
        max-height: 100%;
    }

    &__content--overflow {
        overflow: auto;
    }

    &__content--center {
        justify-content: center;
        align-items: center;
    }

    &__content--padding-top {
        padding-top: 18px !important;
    }

    &__content--padding-left {
        padding-left: 18px !important;
    }

    &__header {
        margin-bottom: 15px;
    }
}

.feed-image {
    width: 330px;
    height: 100%;
    max-height: 190px;
}

.profile-image {
    background-repeat: no-repeat;
    background-size: contain;
    width: 140px;
}

.credit-card {
    &__info {
        margin-left: 25px;
        line-height: 1.7;
    }
}
