<div class="row">
  <div class="col-xs-6">
    <mat-card class="dashboard-item">
      <mat-card-content>
        <mat-card-title>Notificações</mat-card-title>
        <mat-list>
          <mat-list-item><span>O Pix chegou! Faça já uma transferência</span></mat-list-item>
          <mat-list-item><span>Aqui no BiPay seu dinheiro rende 300% do CDI!</span></mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-xs-6">
    <mat-card class="dashboard-item">
      <mat-card-content>
        <mat-card-title>Formas de pagamento</mat-card-title>
        <mat-list>
          <mat-list-item>
            <mat-icon>credit_card</mat-icon><span>Martercard - Final 2356</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>credit_card</mat-icon><span>Visa - Final 2034</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<mat-card class="dashboard-item">
  <mat-card-content>
    <mat-card-title>Atividades</mat-card-title>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>add_circle_outline</mat-icon>
        <div mat-line>Vocês recebeu dinheiro de Maria Souza no valor de R$ 50,00</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon mat-list-icon>remove_circle_outline</mat-icon>
        <div mat-line>Você pagou João da Silva o valor de R$ 35,00</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon mat-list-icon>add_circle_outline</mat-icon>
        <div mat-line>Você transferiu R$ 100,00 para a sua conta</div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
