.info {
  &__item {
    width: 100%;
    max-width: 500px;
  }

  &__content {
    height: 140px;
    max-height: 100%;
  }

  &__content--overflow {
    overflow: auto;
  }

  &__content--center {
    justify-content: center;
  }
}

.credit-card {
  &__info {
    margin-left: 25px;
    line-height: 1.7;
  }
}

// media queries
@media (min-width: 576px) and (max-width: 768px) {
  .text-ellipsi {
    width: 110px;
  }
}