<div class="container__content">
  <div class="info">
    <mat-card class="">
      <mat-card-header class="info__header">
        <mat-card-title>Feed de pagamentos</mat-card-title>
      </mat-card-header>

      <div class="info__content info__content--center">
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              Você ainda não efetuou nenhum pagamento!
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </div>
    </mat-card>
  </div>

  <div class="row mt-md-5">
    <div class="info">
      <mat-card class="info__item">
        <mat-card-header class="info__header">
          <mat-card-title>Bem vindo(a)</mat-card-title>
        </mat-card-header>

        <div class="info__content">
          <img
            mat-card-image
            [src]="'../../../assets/profile.jpg'"
            alt="Profile Photo"
            class="profile-image img-fluid"
          />
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                No EasyPay seus pagamentos são feitos de forma fácil e
                automática. Experimente esta incrível experiência na seção
                "Pagamentos"
              </mat-list-item>
              <mat-list-item class="info__content--padding-top">
                Saldo Atual: {{ balance | currency: 'BRL' }}
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </div>
      </mat-card>
    </div>

    <div class="info">
      <mat-card class="info__item">
        <mat-card-header class="info__header">
          <mat-card-title>Seus Cartões</mat-card-title>
        </mat-card-header>

        <div
          class="col-xs-4"
          [ngClass]="
            (creditCards$ | async).length > 3
              ? 'info__content info__content--overflow'
              : 'info__content'
          "
        >
          <mat-card-content>
            <mat-list>
              <mat-list-item
                *ngFor="let card of creditCards$ | async"
                class="credit-card"
              >
                <mat-icon aria-hidden="false" aria-label="Credit card off icon">
                  credit_card_off
                </mat-icon>
                <div class="credit-card__info">
                  <div>Número do cartão: {{ card.card_number }}</div>
                  <div>Vencimento do cartão: {{ card.expiry_date }}</div>
                </div>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  </div>
</div>
