.user {
  background: linear-gradient(186.5deg, #92BF91 0.83%, #3C7F3B 100%);
  box-shadow: 0 1px 0 #ffffff, 0px -1px 0px #ffffff;
  color: #fff;
  margin: 20px;
  border-radius: 20px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
}

.user>img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.user>.info-wrapper {
  margin-left: 16px;
}

.user>.pay-button {
  margin-left: auto;
  height: 4.5rem;
  background: #3C7F3B;
  color: #ffffff;
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  transition: background-color 0.2;
  margin-top: 3.2rem
}