<header class="page-header">
    <div class="header-content">
        <strong>Quer transferir dinheiro para alguém? </strong>
        <p>Vem com a gente que é bem fácil!</p>
    </div>
</header>
<div class="content-list">
    <div class="users" *ngFor="let user of users">
        <div class="user">
            <img src="{{ user.img }}" />
            <div class="info-wrapper">
                <div class="user-name">{{ user.id }} - {{ user.name }}</div>
                <div class="user-username">{{ user.username }}</div>
            </div>
        </div>
        <button type="button" class="pay-button" (click)="openModal(user)">Pagar</button>
    </div>
</div>
