<section class="list">
  <ul class="list__content">
    <li *ngFor="let user of users; trackBy: identify" class="list__item">
      <app-user
        [user]="user"
        (toggleModal)="toggleModal($event)"
        (selectUser)="selectUser($event)"
      ></app-user>
    </li>
  </ul>
</section>

<!-- Payment modal -->
<app-modal
  [isVisible]="modalVisible"
  (toggleModal)="toggleModal($event)"
  [selectedUser]="selectedUser"
></app-modal>

<!-- Success and failure alerts -->
<app-alert>
  <div image>
    <app-success></app-success>
  </div>
  <div message>
    O pagamento foi concluído com sucesso!
  </div>
</app-alert>

<app-alert [failure]="true">
  <div image>
    <app-failure></app-failure>
  </div>
  <div message>
    O pagamento não foi concluído com sucesso.
  </div>
</app-alert>
