<section class="list">
  <ul class="list__content">
    <li *ngFor="let user of users; trackBy: identify" class="list__item">
      <app-user
        [user]="user"
        (toggleModal)="toggleModal($event)"
        (selectUser)="selectUser($event)"
      ></app-user>
    </li>
  </ul>
</section>

<!-- Payment modal -->
<app-modal [isVisible]="modalVisible" (toggleModal)="toggleModal($event)">
  <div title>Pagar</div>
  <div body>
    <div class="modal__user">
      <img class="modal__user-image" [src]="selectedUser?.img" [alt]="selectedUser?.name" />
      <p class="modal__user-name">{{ selectedUser?.username }}</p>
    </div>
    <form class="modal__form" action="">
      <input class="modal__form-input" type="number" name="value" />
      <div class="modal__select-helper">
        <select class="modal__form-select" name="card" id="">
          <option value="1111111111111111">
            Cartão com final 1111
          </option>
          <option value="4111111111111234">
            Cartão com final 1234
          </option>
        </select>
      </div>
      <button class="modal__form-button">Pagar</button>
    </form>
  </div>
</app-modal>
