@import '../../styles.scss';

.list {
  @extend .container;

  margin-top: 40px;
  margin-bottom: 40px;

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.modal {
  &__user {
    display: flex;
    align-items: center;
  }

  &__user-image {
    width: 50px;
    margin-right: 10px;
    border: 2px solid $picpay-primary;
    border-radius: 100%;
  }

  &__user-name {
    color: $onyx;
    font-family: $titleFont;
    font-size: 1.6rem;
    font-weight: 600;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  &__form-input {
    padding: 10px;
    color: $onyx;
    background-color: transparent;
    border: 1px solid $picpay-primary;
    border-radius: 5px;
    font-size: 1.4rem;
  }

  &__select-helper {
    position: relative;
    margin: 10px 0;
    background-color: transparent;
    border: 1px solid $picpay-primary;
    border-radius: 5px;

    &::after {
      position: absolute;
      top: 45%;
      right: 10px;
      content: '';
      width: 8px;
      height: 8px;
      border-bottom: 2px solid $picpay-primary;
      border-left: 2px solid $picpay-primary;
      transform: translateY(-45%) rotate(-45deg);
      pointer-events: none;
    }
  }

  &__form-select {
    width: 100%;
    padding: 10px;
    color: $onyx;
    background-color: transparent;
    border: 0;
    font-size: 1.4rem;
    appearance: none;
  }

  &__form-button {
    padding: 10px 20px;
    color: white;
    background-color: $picpay-primary;
    border: 0;
    border-radius: 5px;
    font-size: 1.4rem;
  }
}
