<div class="modal" role="dialog" tabindex="-1" *ngIf="isVisible">
  <div class="modal__mask" (click)="this.toggleModal.emit(false)"></div>
  <div class="modal__content">
    <div class="modal__header">
      <button class="modal__close" (click)="this.toggleModal.emit(false)">
        <span class="modal__icon"></span>
      </button>
      <h3 class="modal__title">
        Pagar
      </h3>
    </div>
    <div class="modal__body">
      <div class="modal__user">
        <img class="modal__user-image" [src]="selectedUser?.img" [alt]="selectedUser?.name" />
        <p class="modal__user-name">{{ selectedUser?.username }}</p>
      </div>
      <app-form></app-form>
    </div>
  </div>
</div>
