<div class="modal" role="dialog" tabindex="-1" *ngIf="isVisible">
  <div class="modal__mask" (click)="closeModal()"></div>
  <div class="modal__content">
    <button class="modal__close" (click)="closeModal()">
      <span class="modal__icon"></span>
    </button>
    <div class="modal__body">

      <div class="modal__form" *ngIf="formVisible" [ngClass]="{'modal__form--hidden': loading}">
        <div class="modal__user">
          <img class="modal__user-image" [src]="selectedUser?.img" [alt]="selectedUser?.name" />
          <p class="modal__user-name">{{ selectedUser?.username }}</p>
        </div>
        <app-form
          [userId]="selectedUser?.id"
          (toggleForm)="toggleForm($event)"
          (setStatus)="setStatus($event)"
          (setLoading)="setLoading($event)"
        ></app-form>
      </div>

      <app-loader *ngIf="loading"></app-loader>

      <div class="modal__status" *ngIf="!formVisible && !loading">
        <div class="modal__image" [ngClass]="{'modal__image--failure': !alertStatus.success}"></div>
        <p class="modal__message "[ngClass]="{'modal__message--failure': !alertStatus.success}">{{ alertStatus.message }}</p>
      </div>

    </div>
  </div>
</div>
