 * {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
body {
  -webkit-font-smoothing: antialiased;
}
 

button {
  cursor: pointer;
}
