@import "../../../shared/styles/global.scss";

.payment {
    input {
      width: 420px;
      font-size: 18px;
      height: 48px;
      border: 1px solid #ccc;
      border-radius: 6px;
      padding: 0 8px;
    }
  
    .cards {
      margin-top: 15px;

      select {
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 18px;
        height: 48px;
        margin-top: 12px;
        width: 100%;
      }
    }
  
    .form-error {
      color: $danger;
      font-size: 12px;
      margin-top: 15px;
    }
  
    .footer {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 10px;

      .pay-button {
        margin-left: 5px;

        @extend %button-primary;        
    
        &--secondary {
          @extend %button-secondary;
          &:hover{
              color: $primary;
          }
        }
      }
    }
  }