<div class="users">
    <app-user-item></app-user-item>

    <!-- <app-modal title="Recibo de pagamento">
        <div class="payment">
            <input type="number" placeholder="R$ 0,00" />

            <div class="cards">
            <select>
                <option disabled>Selecione um metódo de pagamento</option>
                <option selected>Cartão com final 0123</option>
            </select>
            </div>

            <div class="footer">
                <div>
                    <button type="button" class="pay-button--secondary">
                    Fechar
                    </button>
                </div>
                <div>
                    <button type="button" class="pay-button">
                    Pagar
                    </button>
                </div>
            </div>
        </div>
    </app-modal> -->
</div>