.user {
  background: #fff;
  padding: 20px 40px;
  margin-bottom: 10px;
  border-radius: 5px;

  display: flex;
  align-items: center;
}

.user > img {
  border: 2px solid #b1b1b1;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.user > .info-wrapper {
  margin-left: 16px;

  .user-username {
    font-size: 1.25rem;
    font-weight: 600;
    color: #000;
  }

  .user-name {
    color: #7e7e7e;
    font-weight: 600;
  }
}

.user > .pay-button {
  margin-left: auto;
}